<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ghcr" value="https://nuget.pkg.github.com/tichaczech/index.json" />
    <add key="local" value="./_packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ghcr">
      <package pattern="Fand.*" />
      <package pattern="thc.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

<!-- 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 -->
